@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;
<div class="text-center">
    <h3>Success Page</h3>
    Welcome @Context.Session.GetString("username")
    <br>
    <a asp-controller="Home" asp-action="logout">Logout</a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
